#navbar-custom {
  height: 90px;
  background: white;
}

#navbar-custom > .container {
  height: inherit;
}

#navbar-custom > .navbar-header {
  height: inherit;
}

#logo {
  height: 80px;
}

#list-tabs {
  font-size: 20px;
  font-family: 'Raleway', sans-serif;
}

#navbar-custom .navbar-nav > .active > a, #navbar-custom .navbar-nav > .active > a:focus, #navbar-custom .navbar-nav > .active > a:hover {
  background: white;
  font-weight: bold;
}

#list-tabs {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.wrapper {
  text-align: center;
  font-size: 1.88vw;
  font-family: 'Raleway', sans-serif;
  margin-top: 5vh;
  margin-bottom: 5vh;
  color: #545454;
  line-height: 2.81vw;
}

.wrapper-heading {
  text-align: center;
  font-weight: normal;
  font-size: 3.12vw;
  font-family: 'Oswald', sans-serif;
  color: #8dc63f;
  text-transform: uppercase;
}

.wrapper-heading-bottom {
  height: 3px;
  background: #a3a4a5;
  width: 60px;
}

.content {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.content-list {
  text-align: left;
}

.content ol li, .content > ul li {
  text-align: left;
}

#wrapper-entry {
  background: black;
}
