.main-logo {
  background: url(../images/logo-gojek.svg) center center no-repeat;
  background-size: 122px 36px;
  height: 40px;
  display: block;
  text-indent: -9999px;
  margin: 0 auto;
  padding: 0;
}

.sub-text {
  font-family: Raleway;
  font-size: 18px;
  color: white;
  margin: 3px auto 0 auto;
  float: none;
  text-align: center;
}

.navbar-fixed-top {
  max-height: 65px;
}

.navbar-nav li a {
  font-family: Raleway;
  line-height: 60px;
  color: white;
}

.logos {
  margin: 0 auto;
  overflow: hidden;
}

.logos img.large {
  display: block;
  width: 95%;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  padding-bottom: 60px;
}

.logos img.large1 {
  display: block;
  margin: auto ;
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  padding-top: 20px;
  padding-bottom: 60px;
}

.section-title {
  font-family: Raleway;
  color: #252525;
  letter-spacing: 3px;
  text-align: center;
}

.section-title1 {
  font-family: Raleway;
  color: #fff;
  text-align: right;
}


.top-separator {
  padding-top: 70px;
  text-align: center;
}

.ripple-wrapper {
  display:none
}

.content-format {
  box-sizing: border-box;
  font-family: Roboto,sans-serif;
  font-size: 20px;
  font-weight: 300;
  letter-spacing: 0.4px;
  line-height: 27.2px;
  margin-bottom: 10px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
}

.img-wrapper {
  background: #fff;
  padding: 0 20px;
}

#wrapper {
  padding-left: 0;
}

#page-content-wrapper {
  z-index: 2;
  width: 100%;
  position: relative;
}

element.style {
  height: 100%;
  position: relative;
  touch-action: none;
  top: -1362px;
  opacity: 1;
}

#home1 {
  background: url("../images/goride-drivers.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%;
}

.fp-section {
  position: relative;
}

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
}

.wrapper {
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.4);
  z-index: 0;
}

.wrapper.abs {
  max-width: none;
}

.wrapper {
  margin: 0 auto;
}

.abs {
  position: absolute;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.row {
  margin-right: -15px;
  margin-left: -15px;
}

.fadeInUp {
  animation-name: fadeInUp;
}

.pull-right {
  float: right!important;
}

.col-md-5 {
  position: relative;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
}

.text-right {
  text-align: right;
}

.text-left {
  text-align: left;
}

#home2 {
  background: url("../images/goride-header.jpg") no-repeat center center;
  background-size: cover;
  background-attachment: fixed;
  color: #fff;
}

.copyright {
  text-align: center;
  padding.top: 30px;
}

body {
  color: #9B9B9B;
}

footer {
  background: #252525;
  padding: 50px 10px 35px;
  text-align: center;
  font-size: 12px;
  clear: both;
}

.footer-menu {
  display: inline-block;
  vertical-align: top;
  text-align: left;
  padding-bottom: 30px;
}

footer ul {
  list-style: none;
  padding: 0;
}

footer ul li a {
  color: #9B9B9B;
  text-transform: uppercase;
  padding-bottom: 10px;
}
.caps, .sidebar-nav li a, footer h5, footer ul li, footer ul li a {
  text-transform: uppercase;
}

li {
  padding-bottom: 10px;
  display: list-item;
  text-align: -webkit-match-parent;
}

